@import url(../css/header-footer.css);
* {
  margin: 0;
  padding: 0; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #f78080bd, #f780ed79);
  border-radius: 5px; }

.container {
  font-family: "Kanit", sans-serif;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .container-B .img-C {
    display: flex;
    width: 100%; }
    .container-B .img-C .img1 {
      width: 100%;
      height: 100vh;
      background: url(../img/5ac1a46be4a23bee56f6251d1f457182.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .container-B .content-T {
    position: absolute;
    top: 20vh;
    width: 25%;
    height: 50%;
    right: 40px;
    background: #fff;
    border-radius: 25px;
    box-shadow: -10px -10px 15px #fff, 10px 10px 15px #c1c1c1, inset 0px 0px 0px #fff, inset 0px 0px 0px #c1c1c1; }
    .container-B .content-T .content-P {
      display: flex;
      gap: 15px;
      flex-direction: column;
      height: 100%;
      align-items: center;
      align-content: center; }
      .container-B .content-T .content-P h1 {
        color: #f78080;
        margin-top: 8%;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase; }
      .container-B .content-T .content-P p {
        text-align: center;
        font-size: 15px;
        padding: 0 20px; }
      .container-B .content-T .content-P a {
        margin-top: 2%;
        padding: 10px;
        background: #f78080;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all 0.5s ease-out 1s; }
      .container-B .content-T .content-P a:hover {
        background: linear-gradient(to top right, #f78080, #f780eeab); }
  .container-P {
    padding: 25px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 25px; }
    .container-P .product-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 10px;
      height: 340px; }
      .container-P .product-1 .contenedor-t {
        display: block;
        position: relative;
        background: url(../img/muneca-lana-marron-sobre-fondo-verde_23-2148242148.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        .container-P .product-1 .contenedor-t .container-Tb {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          height: 55%;
          width: 40%;
          top: 20%;
          right: 25px;
          background: #fff;
          border-radius: 25px;
          gap: 15px;
          box-shadow: -10px -10px 15px #fff0, 10px 10px 15px #507e8c, inset 0px 0px 0px #0095ff, inset 0px 0px 0px #ffffff; }
          .container-P .product-1 .contenedor-t .container-Tb h1 {
            padding-top: 10px;
            text-transform: uppercase; }
          .container-P .product-1 .contenedor-t .container-Tb p {
            text-align: center;
            padding: 0 20px; }
          .container-P .product-1 .contenedor-t .container-Tb a {
            width: auto;
            padding: 2%;
            background: #f78080;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            transition: all 0.5s ease-out 1s; }
          .container-P .product-1 .contenedor-t .container-Tb a:hover {
            background: linear-gradient(to top right, #f78080, #f780eeab); }
      .container-P .product-1 .content-PI {
        background: url(../img/img1.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        .container-P .product-1 .content-PI .contenedor-product {
          width: 85%;
          margin: 0 auto;
          height: 100%;
          display: flex;
          gap: 10px;
          opacity: 0;
          transform: scale(0.2);
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-out 0s; }
          .container-P .product-1 .content-PI .contenedor-product a {
            text-decoration: none;
            background-color: #fff;
            color: #000;
            border-radius: 5px;
            font-weight: 900;
            border: 1px solid #fff;
            font-size: 20px;
            padding: 8px 13px; }
      .container-P .product-1 .content-PI:hover .contenedor-product {
        transform: scale(1);
        opacity: 1;
        background: linear-gradient(to top right, #f7808096, #f780ed69); }
    .container-P .product-2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 10px;
      height: 340px; }
      .container-P .product-2 .content-PI {
        background: url(../img/img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .container-P .product-2 .content-PI .contenedor-product {
          width: 85%;
          margin: 0 auto;
          height: 100%;
          display: flex;
          gap: 10px;
          opacity: 0;
          transform: scale(0.2);
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-out 0s; }
          .container-P .product-2 .content-PI .contenedor-product a {
            text-decoration: none;
            background-color: #fff;
            color: #000;
            border-radius: 5px;
            font-weight: 900;
            border: 1px solid #fff;
            font-size: 20px;
            padding: 8px 13px; }
      .container-P .product-2 .content-PI:hover .contenedor-product {
        transform: scale(1);
        opacity: 1;
        background: linear-gradient(to top right, #f7808096, #f780ed69); }
      .container-P .product-2 .contenedor-t {
        display: block;
        position: relative;
        background: url(../img/pastel-lana-tonos-bolas-sobre-fondo-colores_115390-14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
        .container-P .product-2 .contenedor-t .container-Tb2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          height: 55%;
          width: 40%;
          top: 20%;
          left: 25px;
          background: #fff;
          border-radius: 25px;
          gap: 15px;
          box-shadow: -10px -10px 15px #fff0, 10px 10px 15px #507e8c, inset 0px 0px 0px #0095ff, inset 0px 0px 0px #ffffff; }
          .container-P .product-2 .contenedor-t .container-Tb2 h1 {
            padding-top: 10px;
            text-transform: uppercase; }
          .container-P .product-2 .contenedor-t .container-Tb2 p {
            text-align: center;
            padding: 0 20px; }
          .container-P .product-2 .contenedor-t .container-Tb2 a {
            width: auto;
            padding: 2%;
            background: #f78080;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            transition: all 0.5s ease-out 1s; }
          .container-P .product-2 .contenedor-t .container-Tb2 a:hover {
            background: linear-gradient(to top right, #f78080, #f780eeab); }

@media screen and (max-width: 320px) {
  .content-T {
    width: 70% !important;
    height: 75% !important;
    right: 15% !important; }

  .product-1,
  .product-2 {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr;
    height: 590px !important; }

  .container-Tb,
  .container-Tb2 {
    height: 90% !important;
    width: 65% !important;
    top: 5% !important; }
    .container-Tb h1,
    .container-Tb2 h1 {
      text-align: center; }

  .contenedor-product {
    width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
